/* Add your styles here */


* {
    box-sizing: border-box;
}

body {
    font-family: "Arial (Hebrow)", Helvetica, sans-serif;
    margin: 0;
    border: 0;
    direction: rtl;
    text-align: right;
}


/*******************************************************************/
/* Style the header */
.header-container {
    width: 100%;
    background: linear-gradient(to bottom, rgb(144, 144, 144) 85%, rgb(170, 170, 170));
    /* font-size: 35px; */
    height: 104px;
    font-weight: bold;
    margin-bottom: 10px;
}


.container {
    width: 900px;
    margin: 0 auto;
}
/* 
.search-bar{
    position: absolute;
}
 */

header {
    position: relative;
    font-size: 35px;
    width: 100%;
    text-align: left;
    color: white;
    font-weight: bold;
}

#english {
    position: absolute;
    left: 180px;
    top: 22px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

#english:hover {
    color: #005ca0;
    text-decoration-line: underline;
}

#search {
    position: absolute;
    width: 125px;
    border-radius: 0 15px 0 0;
    padding: 1px;
    left: 36px;
    top: 18px;
}

.search-button{position: absolute;
    top: 20px;
    left:20px;
}


.logo {
    position: absolute;
    top: 32px;
    right: -9px;
}

nav {
    /* width: 100%; */
    top: 50px;
    left: 15px;
    position: relative;

}

nav>ul {
    margin: 0px;
    list-style: none;

}

.home {
    /* position: relative; */
    display: inline-block;
    width:17px;
    height: 17px;
    background: url("Images/menu_home_blue1.png") no-repeat bottom;
}


.dropdown_home {
    display: inline-block;
    position: relative;
    margin-left: 13px;
    margin-top: 5px;
    }



.dropdown {
    display: inline-block;
    position: relative;
    border-right: 2px solid rgba(180, 180, 180, 0.788);
    padding-left: 11px;
    padding-right: 13px;
    margin-bottom: 3px;
    z-index: 999;
}

.dropdown-content:first-child {
    background: linear-gradient(to up, rgb(144, 144, 144) 90%, rgb(170, 170, 170));
    border-top: none;

}

.dropdown>a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: auto;
    font-size: 14px;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    background-color: rgb(144, 144, 144);
    width: 200px;
    text-align: right;
    display: none;
}

.dropdown-content>a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    border-top: solid 1px #ccc;
}

/* .dropdown>a:hover, */
.dropdown-content>a:hover,
.dropdown:hover>a   {
    background-color: rgb(170, 170, 170);
    color:#005ca0;
    text-decoration: underline;
}

.dropdown:hover>.dropdown-content {
    display: block;
}



/*###################################################*/
/*Clear Fix*/
.upper-row:after,
/* .footer-row:after, */
.lower-row:after,
.cf:after
{
    content: "";
    clear: both;
    display: table;
}


.upper-row {
    margin-top: 30px;
}

.lower-row {
    margin-top: 20px;
}

.column {
    width: 290px;
    height: 355px;
    margin-left: 9px;
    float: right;
    position: relative;
}

.center-images {
    border-radius: 0 0 25px 0;
    width: 290px;
}

.text-over-pic {
    position: absolute;
    font-size: 13px;
    color: white;
    width: 247px;
    height: 95px;
    bottom: 6px;
    right: 7px;
    background: rgba(144, 144, 144, 0.95);
    border-radius: 0 0 25px 0;

}

.read-more{
    position: absolute;
    left:10px;
    bottom: 2px;
}

.read-more>a{
    color:white;
    padding-left: 15px;
    background: url("Images/read_more_white.png") no-repeat left center;
}

.text-over-pic>p {
    margin: 0;
    padding-right: 8px;
}

.text-over-pic>h3 {
    margin: 2px;
    padding-right: 8px;
}



.cube {
    border-radius: 0 25px 0 0;
    width: 290px;
    height: 216px;
    float: right;
    margin-left: 9px;
    text-align: center;
    background-image:   url(Images/small_cube_bg.png);


}

#bannerHeader {
    padding-top: 10px;
    color:#575757;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    padding-right: 22px;
}

.region-wraper{
    float:right;
    margin-top:15px;
    margin-right:22px;
}

.region-wraper>a, .more-info{
    color:#72716d;
    font-size: 13px;
    padding-left: 15px;
    background:url("Images/read_more_yellow.png") no-repeat left center;


}

.more-info{ 
    position: relative;
    right:75px;
    top: 18px;
}

/* span{margin-left:12px;} */

.float-map{
    float: left;
    margin-left: 15px;
}


/**************************************************/
footer {
    position: fixed;
    background: linear-gradient(to top, rgb(144, 144, 144) 50%, rgb(170, 170, 170));
    bottom: 0;
    right:0;
    width: 100%;
    height: 38px;
    /* color: white; */
    /* text-align: center; */
    }

.footer-item, .footer-item-red {
    float: right;
    margin-top: 15px;
  }


.footer-item>a {
    font-size: 15px;
    color: white;
    text-decoration-line: none;
    margin:3px;
    padding-left:6px;
    border-left: solid 2px #fff;
   
 }


.footer-item-red>a {
    font-size: 15px;
    color: red;
    text-decoration-line: none;
    margin:6px;
  
}


.footer-item>a:hover, 
.footer-item-red:hover, 
span:hover
{
    color:#005ca0;
    text-decoration: underline;
}

.region-wraper>a:hover,
.more-info:hover,
.read-more>a:hover
{
    background: url("Images/read_more_blue.png") no-repeat left center;
    color:#005ca0;
    text-decoration: underline;
}


span:hover
{
    color:#005ca0;
    text-decoration: underline;
}




/********************************************************/

.right-menu{
    float: right;
    width: 122px;
    margin-left: 22px;
}

.right-menu li{
    list-style: none;
     border-top: #5c5c5c;
}

.right-menu a{
    display: block;
    width: 110px;
    height: 36px;
    /* overflow: hidden; */
    padding-right: 12px;
    font-size: 13px;
    margin-bottom: 4px;
    /* border-top: #5c5c5c; */
    line-height: 32px;
    border:black
    background: linear-gradient(to bottom, rgb(254, 254, 254) 60%, rgb(204, 204, 204));
}


.content{

}


.side-cubes{

}